/*

# config files
!.config

# repo files
!.gitignore
!README.md

# shells
!.zshrc
!.bashrc

# editors
!.vimrc

# layout
!.screenlayout

# wallpapers

!Pictures/

# screenshots
!.screenshots/
!screenshots/**
