.aspnet/
.azuredatastudio/
.bash_history
.bash_logout
.bash_profile
.cache/
.cachy/
.cargo
.dmrc
.docker
.dotnet
.fehbg
.gallery/
.gitconfig
.gnupg
.gscreenshot
.gtkrc-2.0
.hplip
.icons
.java
.julia
.juliaup
.lgp/
.lmmsrc.xml/
.local
.lyrics
.mozilla
.node_repl_history
.npm
.nuget
.ollama
.packettracer
.pki
.profile
.pulse-cookie
.python_history
.rustup
.ServiceHub
.shutter
.spicetify
.spotdl
.ssh
.steam
.steampath
.steampid
.th-client
.themes
.thunderbird
.vim
.viminfo
VirtualBox VMs
.vscode
.xsession-errors.old
.zsh_history
